<div class="card mat mb-3">
  <div class="card-header">
    Certs
  </div>
  <div class="card-body">
    <p>Generate and visualize certificates for a new client machine you'd like to add in this VPN.</p>

    <div class="row">
      <div class="input-group col-sm-3" [formGroup]="generateForm">
        <input formControlName="clientName" type="text" class="form-control" placeholder="VPN Client name">
        <button (click)="generate()" class="btn input-group-addon btn-primary ">Generate</button>
      </div>
    </div>
    <br/>
    <br/>
    <span *ngIf="loading" style="width: 100%;text-align:center;display:block">
      <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
    </span>
    <div *ngIf="generated">
      <div class="row mb-3">
        <div class="col-md-6">
          <app-text-code [title]="'Certificate'" [fileName]="'client.crt'" [fileContent]="cert"></app-text-code>
        </div>
        <div class="col-md-6">
          <app-text-code [title]="'Key'" [fileName]="'client.key'" [fileContent]="key"></app-text-code>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <app-text-code [title]="'Config'" [fileName]="'client.conf'" [fileContent]="config"></app-text-code>
        </div>
        <div class="col-md-6">
          <app-text-code [title]="'Ca'" [fileName]="'ca.crt'" [fileContent]="ca"></app-text-code>
        </div>
      </div>
    </div>
  </div>
</div>