<div *ngIf="!loading">
  <table *ngIf="flows && flows[instanceId]" class="table table-hover table-sm">
    <thead class="ng-tns-c24-2">
      <tr class="ng-tns-c24-2">
        <th class="ng-tns-c24-2">#</th>
        <th class="ng-tns-c24-2">Port</th>
        <th class="ng-tns-c24-2">Destination IP</th>
        <th class="ng-tns-c24-2">Actions</th>
      </tr>
    </thead>
    <tbody class="ng-tns-c24-2">
      <tr *ngFor="let port of flows[instanceId]; index as i" class="ng-tns-c24-2">
        <th *ngIf="port!=-1" class="ng-tns-c24-2" scope="row">{{i}}</th>
        <td *ngIf="port!=-1" class="ng-tns-c24-2">{{port.destinationPort}}</td>
        <td *ngIf="port!=-1" class="ng-tns-c24-2">{{port.destinationAddress}}</td>
        <td *ngIf="port!=-1" class="ng-tns-c24-2"><a href="#">Delete</a></td>
      </tr>
      <tr>
        <th class="ng-tns-c24-2" scope="row">{{flows[instanceId].length}}</th>
        <td class="ng-tns-c24-2"><input class="form-control" placeholder="0-65535" type="text" [(ngModel)]="destinationPort" #ctrl="ngModel" required></td>
        <td class="ng-tns-c24-2"><input class="form-control" [placeholder]="defaultDestinationAddress" type="text" [(ngModel)]="destinationAddress" #ctrl="ngModel"></td>
        <td class="ng-tns-c24-2"><a href="javascript:void(0)" *ngIf="ctrl.valid" (click)="blockPort(destinationPort,destinationAddress)">Add</a></td>
      </tr>
    </tbody>
  </table>
  
</div>
<div *ngIf="loading">
  <i class="fa fa-spinner fa-pulse fa-fw"></i>
  <span>Loading flows...</span>
</div>