.btn-patch{
    display: inline-flex;
    height: 40px;
    align-self: flex-end;
    margin: 15px 0px;
}

.inline-flx{
    display: inline-flex;
    padding: 20px 0px 0px;
    justify-content: space-between;
    width: 560px;
}