<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 offset-md-4">
      <h2>{{title}}</h2>
      <!-- Login Form -->
      <div class="nb-login">
        <h3 class="scenter"><i class="fa fa-sign-in"></i> Sign In</h3>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <app-form-input [control]="loginForm.controls.username"
              [errorDefs]="['required']">
              <input type="text" class="form-control" formControlName="username" name="username" placeholder="Username">
            </app-form-input>
          </div>
          <div class="form-group">
            <app-form-input [control]="loginForm.controls.password"
              [errorDefs]="['required']">
              <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
            </app-form-input>
          </div>
          <button type="submit" class="btn btn-block btn-primary" (click)="login()" [disabled]="!loginForm.valid">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>





