<div *ngIf="!loading || dnsRecords">
  <table class="table table-hover table-sm">
    <thead class="ng-tns-c24-2">
      <tr class="ng-tns-c24-2">
        <th class="ng-tns-c24-2">#</th>
        <th class="ng-tns-c24-2">DNS Record</th>
        <th class="ng-tns-c24-2"></th>
      </tr>
    </thead>
    <tbody class="ng-tns-c24-2">
      <tr *ngFor="let dnsRecord of dnsRecords; index as i" class="ng-tns-c24-2">
        <th class="ng-tns-c24-2" scope="row">{{i}}</th>
        <td class="ng-tns-c24-2">{{dnsRecord.dnsRecord}}</td>
        <td class="ng-tns-c24-2"><app-form-button (click)="deleteFlow(port.flowId)" type="submit" [btnClass]="'btn btn-danger'">Delete</app-form-button></td>
      </tr>
      <tr [formGroup]="addDnsRecordForm">
        <th class="ng-tns-c24-2" scope="row">{{dnsRecords.length}}</th>

        <td class="ng-tns-c24-2">
          <app-form-input [control]="addDnsRecordForm.controls.dnsRecord" [errorDefs]="['required']">
            <input type="text" class="form-control" placeholder="IP [space] Client Name" formControlName="dnsRecord"
              name="dnsRecord">
          </app-form-input>
        </td>
        
        <td class="ng-tns-c24-2"><app-form-button (click)="addRecord()" type="submit" [loading]="loading" [btnClass]="'btn btn-primary'" [disabled]="!addDnsRecordForm.valid">Add</app-form-button></td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="loading && !dnsRecords">
  <i class="fa fa-spinner fa-pulse fa-fw"></i>
  <span>Loading...</span>
</div>
