<div class="card card-inverse {{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div *ngIf="count" class="col-lg-9 text-right">
                <div class="d-block huge">{{count}}</div>
                <div class="d-block">{{label}}</div>
            </div>
            <div *ngIf="!count" class="col-lg-9 text-right">
                <h3>{{label}}</h3>
            </div>
        </div>
    </div>
    <div *ngIf="link" class="card-footer">
        <span class="float-left">View Details {{data}}</span>
        <a [routerLink]="link" class="float-right card-inverse">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div>
</div>
