<div [@routerTransition]>
    <h2 class="text-muted">CNSMO Dashboard</h2>
    <br/>
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <app-stat *ngIf="!loadingCount" [bgClass]="'card-primary'" [link]="['/nodes']" [icon]="'fa-server'" [count]="nodesCount"
                [label]="'Client Nodes'"></app-stat>
            <div *ngIf="loadingCount">
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
                <span>Loading...</span>
            </div>
        </div>
    </div>
    <hr/>
    <h2>Active Services</h2>
    <br/>
    <div class="row" *ngIf="!loadingNodesServices">
        <div *ngFor="let service of nodesServices" class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="service.active ? 'card-info' : 'card-disabled'" [icon]="service.active ? 'fa-check-circle' : 'fa-ban'"
                [label]="service.label"></app-stat>
        </div>

    </div>
    <div class="row" *ngIf="loadingNodesServices">
        <div>
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
            <span>Loading...</span>
        </div>
    </div>
</div>