<div [@routerTransition]>
    <h2 class="text-muted">CNSMO Dashboard <small>Statistics Overview</small></h2>
    <br/>
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [link]="['/nodes']" [icon]="'fa-server'" [count]="2" [label]="'SDN Nodes'"></app-stat>
        </div>
    </div>
    <hr/>
    <h2>Active Services</h2>
    <br/>
    <div class="row">       
        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-check-circle'" [label]="'Firewall'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-check-circle'" [label]="'VPN'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-check-circle'" [label]="'DNS'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="'card-disabled'" [icon]="'fa-ban'" [label]="'LB'"></app-stat>
        </div>
    </div>
</div>